.navbar.navbar-expand-lg {
  background-color: #302c9b;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

#logonav {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
  margin-left: 20px;
  border: solid 2px black;
}

#logonav:hover {
  width: 52px;
  height: 52px;
  border: solid 2px red;
}

.navbar.navbar-expand-lg a {
  font-size: 25px;
}

.navbar.navbar-expand-lg a:hover {
  font-size: 27px;
  color: red;
}

.navbar.navbar-expand-lg li {
  justify-content: center;
  align-items: center;
}

.nav-item {
  justify-content: center;
  align-items: center;
}

#logo {
  width: 350px;
  height: 350px;
  border-radius: 300px;
  border: solid 8px black;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  #logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#footer {
  color: white;
  margin-top: 20px;
  margin-bottom: auto;
  text-shadow: 4px 4px 8px #000000;
  font-size: 20px;
  background-color: #302c9b;
  padding-top: 20px;
}

#instagram {
  color: white;
  margin-top: 20px;
  margin-bottom: auto;
  text-shadow: 4px 4px 8px #000000;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instagram a:hover {
  color: red;
}

#instagram img {
  width: 50px;
  height: 50px;
  margin-right: 25px;
  margin-left: 25px;
}

#correo {
  color: white;
  margin-top: 20px;
  margin-bottom: auto;
  text-shadow: 4px 4px 8px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#correo a:hover {
  color: red;
}

.h4 {
  color: #0000ff;
}
.containertitulo {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 4px 4px 8px #000000;
}

.containertitulo h1 {
  font-size: 80px;
}

#imgcorreo {
  width: 60px;
  height: 60px;
  margin-right: 25px;
  margin-left: 25px;
}
